body{
    background-image: url(../images/constructive-backdrop.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;}

h1 {
    background-image: url("../images/constructive-logo.gif");
    background-repeat: no-repeat;
    margin: 100px 0 0 100px;
    height: 200px;}

p , h2{
    width: 320px;
    margin: -50px 0 0 100px;
    padding: 30px 0 30px 0;
    font-weight: bolder;
    background-color: #fff;
    text-align: center;
}